<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GPT BOT WHATSAPP</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
  </head>
  <body>
    <main class="main-container">
      <section class="info-container">
        <h1 class="text-center">GPT BOT WHATSAPP</h1>

        <div id="auth-status"></div>

        <div class="qr-code" id="qrcode"></div>

        <div class="card" style="margin-top: 20px">
          <div class="card-body">
            <h5 class="card-title">Instructions</h5>
            <p class="card-text">
              1. Authenticate your WhatsApp Number: Open WhatsApp on your phone,
              navigate to Settings -> Linked Devices, and scan the QR code
              displayed here to connect your WhatsApp account.
            </p>
            <p class="card-text">
              2. Configure Your Settings: Adjust the configuration settings to
              your preference, then click on Save Configuration to apply the
              changes.
            </p>
            <p class="card-text">
              For further details, please refer to the
              <a
                href="https://github.com/malvads/whatsapp-gpt-bot?tab=readme-ov-file#whatsapp-gpt-bot"
                target="_blank"
                >README documentation</a
              >.
            </p>
          </div>
        </div>
      </section>

      <section class="form-container">
        <!-- form fields remain unchanged -->
        <form action="/save-config" method="POST">
          <div class="accordion" id="form-accordion">
            <div class="card">
              <div class="card-header" id="main-configuration">
                <button
                  class="btn"
                  type="button"
                  data-toggle="collapse"
                  data-target="#main-configuration-collapse"
                  aria-expanded="true"
                  aria-controls="main-configuration-collapse"
                >
                  Main Configuration
                </button>
              </div>

              <div
                id="main-configuration-collapse"
                class="collapse show"
                aria-labelledby="main-configuration"
                data-parent="#form-accordion"
              >
                <div class="card-body">
                  <div class="form-group">
                    <label for="botName">Bot name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="botName"
                      name="botName"
                      placeholder="Enter bot name"
                      value="<%= config.botName %>"
                    />
                  </div>

                  <div class="form-group">
                    <label for="maxTokens">Max Tokens</label>
                    <input
                      type="number"
                      class="form-control"
                      min="1"
                      id="maxTokens"
                      name="maxTokens"
                      placeholder="Enter max tokens"
                      value="<%= config.max_tokens %>"
                    />
                  </div>

                  <div class="form-group">
                    <label for="systemPrompt">System Prompt</label>
                    <textarea
                      class="form-control"
                      id="systemPrompt"
                      name="systemPrompt"
                      placeholder="Enter system prompt"
                      style="height: 200px"
                    >
                      <%= config.systemPrompt %></textarea
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="image-configuration">
                <button
                  class="btn collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#image-configuration-collapse"
                  aria-expanded="false"
                  aria-controls="image-configuration-collapse"
                >
                  Image Configuration
                </button>
              </div>
              <div
                id="image-configuration-collapse"
                class="collapse"
                aria-labelledby="image-configuration"
                data-parent="#form-accordion"
              >
                <div class="card-body">
                  <div class="form-group">
                    <label for="imagePromptPrefix">Image Prompt Prefix</label>
                    <input
                      type="text"
                      class="form-control"
                      id="imagePromptPrefix"
                      name="imagePromptPrefix"
                      value="<%= config.imagePromptPrefix %>"
                    />
                  </div>

                  <div class="form-group">
                    <label for="systemImagePrompt">System Image Prompt</label>
                    <textarea
                      class="form-control"
                      id="systemImagePrompt"
                      name="systemImagePrompt"
                    >
                  <%= config.systemImagePrompt %></textarea
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="error-message">
                <button
                  class="btn collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#error-message-configuration"
                  aria-expanded="false"
                  aria-controls="error-message-configuration"
                >
                  Error Messages Configuration
                </button>
              </div>
              <div
                id="error-message-configuration"
                class="collapse"
                aria-labelledby="error-message"
                data-parent="#form-accordion"
              >
                <div class="card-body">
                  <div class="form-group">
                    <label for="processingError"
                      >Processing Error Message:</label
                    >
                    <textarea
                      class="form-control"
                      id="processingError"
                      name="processingError"
                    >
                        <%= config.errorMessages.processing %></textarea
                    >
                  </div>

                  <div class="form-group">
                    <label for="generalError">General Error Message:</label>
                    <textarea
                      class="form-control"
                      id="generalError"
                      name="generalError"
                    >
                        <%= config.errorMessages.generalError %></textarea
                    >
                  </div>

                  <div class="form-group">
                    <label for="imageError">Image Error Message:</label>
                    <textarea
                      class="form-control"
                      id="imageError"
                      name="imageError"
                    >
                        <%= config.errorMessages.imageError %></textarea
                    >
                  </div>

                  <div class="form-group">
                    <label for="ttsError">TTS Error Message:</label>
                    <textarea
                      class="form-control"
                      id="ttsError"
                      name="ttsError"
                    >
                        <%= config.errorMessages.ttsError %></textarea
                    >
                  </div>

                  <div class="form-group">
                    <label for="ttsPrefix">TTS Prefix:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="ttsPrefix"
                      name="ttsPrefix"
                      value="<%= config.errorMessages.ttsPrefix %>"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            title="Save GPT BOT WHATSAPP configuration"
            style="width: 100%"
          >
            Save Configuration
          </button>
        </form>
      </section>
    </main>

    <script>
      $(document).ready(function () {
        setInterval(function () {
          $.get("/auth-status", function (data) {
            if (data.is_auth) {
              $("#auth-status").html(
                '<div class="alert alert-success" role="alert">Authenticated</div>'
              );
            } else {
              $("#auth-status").html(
                '<div class="alert alert-warning" role="alert">Waiting for authentication</div>'
              );
            }
          });
        }, 5e3);
        var qrText = "<%= qr_code %>";
        new QRCode(document.getElementById("qrcode"), qrText);
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
